#fname{
    /*TODO - change the background color of the 'Name' input */
    background-color:gold;
    border-color: black;
    
}

#lname{
    /*TODO - change the background color of the 'Prenume' input */
    background-color:gold;
    border-color:black

}

#facultate{
    /*TODO - change the background color of the dropdown list */
    /* add more things if you want to customize it*/
    background-color:gold;
    border-color: black

}

.fieldset_style{
    background-color: antiquewhite;
    border-color: brown;
}

